In [1]:
import pandas as pd
import numpy as np

# Data
technologies = {
    'Courses': ["Spark","PySpark","Hadoop","Python","Pandas",None,"Spark","Python"],
    'Fee': [22000, 25000, 23000, 24000, np.nan, 25000, 25000, 22000],
    'Duration': ['30day','50days','55days','40days','60days','35day','','50days'],
    'Discount': [1000, 2300, 1000, 1200, 2500, 1300, 1400, 1600]
}
row_labels = ['r0','r1','r2','r3','r4','r5','r6','r7']

# Create DataFrame
df = pd.DataFrame(technologies, index=row_labels)

# 1. Describe DataFrame for all numeric columns
print("\n--- Describe DataFrame (numeric columns) ---")
print(df.describe())

# 2. Execute a query that contains records of only Spark course
print("\n--- Records of Spark course ---")
print(df[df['Courses'] == 'Spark'])

# 3. Display the records whose Course Fee between 23000 and 24000
print("\n--- Records with Fee between 23000 and 24000 ---")
print(df[(df['Fee'] >= 23000) & (df['Fee'] <= 24000)])

# 4. Display all records other than Spark course
print("\n--- Records other than Spark course ---")
print(df[df['Courses'] != 'Spark'])

# 5. Display records whose Discount between 1000 and 2000
print("\n--- Records with Discount between 1000 and 2000 ---")
print(df[(df['Discount'] >= 1000) & (df['Discount'] <= 2000)])

--- Describe DataFrame (numeric columns) ---
                Fee     Discount
count      7.000000     8.000000
mean   23714.285714  1537.500000
std     1380.131119   570.557372
min    22000.000000  1000.000000
25%    22500.000000  1150.000000
50%    24000.000000  1350.000000
75%    25000.000000  1775.000000
max    25000.000000  2500.000000

--- Records of Spark course ---
   Courses      Fee Duration  Discount
r0   Spark  22000.0    30day      1000
r6   Spark  25000.0               1400

--- Records with Fee between 23000 and 24000 ---
   Courses      Fee Duration  Discount
r2  Hadoop  23000.0   55days      1000
r3  Python  24000.0   40days      1200

--- Records other than Spark course ---
    Courses      Fee Duration  Discount
r1  PySpark  25000.0   50days      2300
r2   Hadoop  23000.0   55days      1000
r3   Python  24000.0   40days      1200
r4   Pandas      NaN   60days      2500
r5     None  25000.0    35day      1300
r7   Python  22000.0   50days      1600

--- Records with Discount between 1000 and 2000 ---
   Courses      Fee Duration  Discount
r0   Spark  22000.0    30day      1000
r2  Hadoop  23000.0   55days      1000
r3  Python  24000.0   40days      1200
r5    None  25000.0    35day      1300
r6   Spark  25000.0               1400
r7  Python  22000.0   50days      1600