In [5]:
class Employee:
  def __init__(self,name,age,address, salary):
    self.name=name
    self.age=age
    self.address=address
    self.salary=salary
  def display_personal_info(self):
    print("name:",self.name)
    print("age:",self.age)
    print("address",self.address)
  def display_salary_details(self):
    print("salary:",self.salary)
class EmployeeDetails(Employee):
    def __init__(self, name, age, address, salary, employee_id):
        super().__init__(name, age, address, salary)
        self.employee_id = employee_id

    def display_employee_info(self):
        self.display_personal_info()
        print("Employee ID:", self.employee_id)
        self.display_salary_details()

# Create instances of EmployeeDetails
emp1 = EmployeeDetails("Pratigya", 17, "kanpur", 40000, "E1")
emp2 = EmployeeDetails("Pranjal", 16, "Dun", 50000, "E2")
emp3 = EmployeeDetails("Nitin", 15, "Greater noida", 100000, "E3")
emp4 = EmployeeDetails("Soumya", 17, "vasundhara", 45000, "E4")
emp5 = EmployeeDetails("Priya", 18, "Delhi", 50000, "E5")

# Display employee information
print("Employee 1:")
emp1.display_employee_info()
print()
print("Employee 2:")
emp2.display_employee_info()
print()
print("Employee 3:")
emp3.display_employee_info()
print()
print("Employee 4:")
emp4.display_employee_info()
print()
print("Employee 5:")
emp5.display_employee_info()

Employee 1:
name: Pratigya
age: 17
address kanpur
Employee ID: E1
salary: 40000

Employee 2:
name: Pranjal
age: 16
address Dun
Employee ID: E2
salary: 50000

Employee 3:
name: Nitin
age: 15
address Greater noida
Employee ID: E3
salary: 100000

Employee 4:
name: Soumya
age: 17
address vasundhara
Employee ID: E4
salary: 45000

Employee 5:
name: Priya
age: 18
address Delhi
Employee ID: E5
salary: 50000